@model IEnumerable<Stockify.Models.Crypto>

@{
    ViewData["Title"] = "Crypto";
}

<h1>Crypto</h1>

<p>
    <a class="btn btn-outline-success" asp-action="CreateStock">Create New</a>
</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}


<div class="Container"> 
    <table class="table">
        <thead>
            <tr>
    @*            <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prefix)
                
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MarketCap)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
    @*            <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
    @*            <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prefix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MarketCap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
    @*            <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>*@
                <td>

                        <a class="btn btn-outline-primary" asp-action="EditCrypto" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit</a> |
                        <a class="bn btn-outline-info" asp-action="CryptoDetails" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Details</a> |
                        <a class="btn btn-danger" asp-action="DeleteCrypto" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete</a>
@*                    @Html.ActionLink("Edit", "EditCrypto", new {id=item.Id}) |
                    @Html.ActionLink("Details", "CryptoDetails", new {id=item.Id}) |
                    @Html.ActionLink("Delete", "DeleteCrypto", new {  id=item.Id })*@
                </td>
            </tr>
    }
        </tbody>
</table>

 </div>
