

@model Stockify.Models.Crypto

@{
    ViewData["Title"] = "Crypto Details";
}

<h1>Crypto Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prefix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prefix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarketCap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarketCap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary" asp-action="EditCrypto" asp-route-id="@Model?.Id"><i class="bi bi-pencil-square"></i>Edit Crypto Details</a> | |
    <a class="btn btn-outline-info" asp-action="Crypto">Back to List</a>
</div>

<style>

    div1 {
        padding: 50px;
    }

</style>




@{

    //Use Viewbag to get Current crypto and list of all Companies
    //Translate Viewbags to list and string
    //Loop through company list if company name = crypto created by field
    //add button which navaigates to that companies details page 
    // else dont print anything and continue the loop until loop has finished

    string CurrentCryptoCreatedBy = ViewBag.CurrentCrypto;
    List<Company>companydblist = ViewBag.Companylist;

    foreach (var company in companydblist)
    {

        if (company.CompanyName == CurrentCryptoCreatedBy)
        {
            <div1>
                <h1> </h1>
                <p> - - - This Company exists in our database! - - -</p>
                <a href="../../Company/Details/@Html.DisplayFor(model => model.CreatedBy)"> <input type="submit" value="Click here to view Company Details" class="btn btn-warning" />  </a>
            </div1>
        }
        else
        {
            continue;
        }

    }
 }






