

@model Stockify.Models.Crypto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Crypto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prefix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prefix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarketCap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarketCap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditCrypto" asp-route-id="@Model?.Id">Edit Crypto Details</a> |
    <a asp-action="Crypto">Back to List</a>
</div>

<style>

    div1 {
        padding: 50px;
    }

</style>


@*Convert HTML.Displayfor (created by field of crypto) using string writer and html encoder
use list to convert viewbag info to list
loop through list if company name equals name of crypto created by
redirect the HTML button to the company details page*@

@{
    //var x = @Html.DisplayFor(model => model.CreatedBy);
    //var currentstring = "";
    //using (var writer = new System.IO.StringWriter())
    //{
    //    x.WriteTo(writer, System.Text.Encodings.Web.HtmlEncoder.Default);
    //    currentstring = writer.ToString();
    //}

    string currentstring = ViewBag.Current;
    List<Company> companydblist = ViewBag.Complist;



    foreach (var company in companydblist)
    {

        if (company.CompanyName == currentstring)
        {
            <div1>
                <h1> </h1>
                <p> - - - This Company exists in our database! - - -</p>
                <a href="../../Company/Details/@Html.DisplayFor(model => model.CreatedBy)"> <input type="submit" value="Click here to view Company Details" class="btn btn-warning" />  </a>
            </div1>
        }
        else
        {
            continue;
        }

        

    }
 }






