@model Stockify.Models.Company

@{
    ViewData["Title"] = "Company Details";
}

<h1>Company Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.CompanyName) Company Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employees)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Market)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Market)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Industry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Industry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Headquarters)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Headquarters)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StockId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StockId)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model?.Id"><i class="bi bi-pencil-square"></i>Edit</a> |
    @*    <a asp-action="EditStock" asp-route-id="@Model?.Id">Edit</a> |*@
    <a class="btn btn-outline-info" asp-action="Company">Back to List</a>
</div>
