@model IEnumerable<Stockify.Models.Stock>

@{
    ViewData["Title"] = "Portfolio";
}

<h1>Portfolio</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarketCap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exchange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EPS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PERatio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MarketCap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Exchange)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EPS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PERatio)
                </td>
                <td>
                    <p>
                        <a class="btn btn-outline-primary" asp-action="AddToPortfolio" asp-route-id="@item.Id">Add to portfolio</a>
                    </p>
                    @*@Html.ActionLink("Add to portfolio", "AddToPortfolio", new { id =item.Id })*@
                </td>
            </tr>
        }
    </tbody>
</table>

<h3> Total price of portfolio: € @ViewBag.TotalPrice</h3>
<p>
    <a class="btn btn-outline-info" asp-action="GoToStocks">Show Stocks</a>
</p>
@*<h5>@Html.ActionLink("Go to Stocks", "GoToStocks") </h5>*@
@*<h5>@Html.ActionLink("Go to Portfolio", "GoToPortfolio") </h5>*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
