@model Stockify.Models.Stock

@{
    ViewData["Title"] = "Stock Details";
}

<h1>Stock Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Name) Stock</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarketCap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarketCap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exchange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exchange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EPS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EPS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PERatio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PERatio)
        </dd>
@*        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyId)
        </dd>*@
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary" asp-action="EditStock" asp-route-id="@Model?.Id"><i class="bi bi-pencil-square"></i>Edit</a> |
@*    <a asp-action="EditStock" asp-route-id="@Model?.Id">Edit</a> |*@
    <a class="btn btn-outline-info" asp-action="Stock">Back to List</a>
</div>

<style>

    div1 {
        padding: 50px;
    }

</style>




@{
    string CurrentStockName = ViewBag.CurrentStock;
    List<Company> companydblist = ViewBag.Companylist;

    foreach (var company in companydblist)
    {

        if (company.CompanyName == CurrentStockName)
        {
            <div1>
            <h1></h1>
                <a href="../../Company/Details/@Html.DisplayFor(model => model.Name)"> <input type="submit" value="@Html.DisplayFor(model => model.Name) Company Details" class="btn btn-success" />  </a>
            </div1>
        }
        else
        {
            continue;
        }

    }
}


